
.title{
  color: blue;
  font-size: 30px;
  position: fixed;
  z-index: 888;
}


.tocCollapsibleButton {
  font-size: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.8rem;
  width: 100%;
  z-index: 5;
}

.tocCollapsibleButton::after {
  content: '';
  background: var(--ifm-menu-link-sublist-icon) 50% 50% / 2rem 2rem no-repeat;
  filter: var(--ifm-menu-link-sublist-icon-filter);
  height: 1.25rem;
  width: 1.25rem;
  transform: rotate(180deg);
  transition: transform var(--ifm-transition-fast);
}

.tocCollapsibleButtonExpanded::after {
  transform: none;
}


@media screen and (max-width: 996px){
  .tocCollapsibleButton {
    height: 3rem;
  }

  .tocLeft * {
    margin-right: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
  }
}