<div class="md-drawer" id="__toc">
    <div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc" id="__toc">
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          <nav class="md-nav md-nav--secondary" aria-label="Table of contents">
            <label class="md-nav__title" for="__toc">
              <span class="md-nav__icon md-icon"></span>
              Table of contents
            </label>
            <ul class="md-nav__list" data-md-component="toc">
              {% include "partials/page-toc-list.html" %}
            </ul>
          </nav>
        </div>
      </div>
    </div>  
  </div>
  