<!-- <div class="md-drawer" id="__toc">
    <div class="md-sidebar md-sidebar--secondary" data-md-component="sidebar" data-md-type="toc" id="__toc">
      <div class="md-sidebar__scrollwrap">
        <div class="md-sidebar__inner">
          <nav class="md-nav md-nav--secondary" aria-label="Table of contents">
            <label class="md-nav__title" for="__toc">
              <span class="md-nav__icon md-icon"></span>
             {% include "partials/page-toc-list.html" %}
            </label>
          </nav>
        </div>
      </div>
    </div>  
  </div>
   -->

<div class="md-drawer" id="toc-drawer">
  <nav class="md-nav md-nav--secondary" aria-label="Table of contents">
    <div class="md-nav__title" id="md-nav__right__title">
      {% include "partials/page-toc-list.html" %}
    </div>
  </nav>
</div>