.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;

  background: #ffffff;
  box-shadow: 12px 12px 28px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 20px;
  padding-bottom: 20px;

  /* z-index: 9999; */

  position: absolute;
  top: -5rem;

  text-align-last: center;

  width: 100%;
  max-width: 75vw;

  text-align: center;
}

@media screen and (min-width: 1440px){
  .clock{
    max-width: 800px;
  }
}

@media screen and (max-width: 966px) {
  .clock {
    max-width: 90vw;
    overflow: auto;
    margin-top: 20px;
  }

  .clockMain {
    /* max-width: 100vw; */
    width: fit-content;
    block-size: fit-content;  
    /* font-size: 1em; */
    /* overflow: hidden; */
  }

  .countdown {
    gap: 0.2rem;
  }

  html, body { /*prevent mobile scrolling horizontally*/
    max-width: 100%;
    overflow-x: hidden;
  }
    
}
  /* .hideMilliseconds {
    display: none !important;
  } */
.countdown {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Not currently using the temp and c02 scripts */

/* .gTemp {
  display: flex;
  flex-direction: column;
} */

/* .ceeOhTwo {
  display: flex;
  flex-direction: column;
} */

.clockHeader {
  color: var(--ifm-color-secondary);
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0px; 
}

.clockText {
  color: black;
  /* font-size: large; */
}

.clockMain {
  /* display: none; */
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-around;
  align-items: baseline;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.clockMain > span {
  text-align: center;
  justify-content: center;
  font-weight: 700;
  /* letter-spacing: 0.2rem; */
}

.number {
  font-weight: 700;
  width:25px; /* prevents ms stuttering */
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.milliseconds{
  width:40px; /* prevents millisecond stuttering */
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  letter-spacing: 0.01rem;
}

