@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Raleway:wght@500;700&display=swap');


.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  background: #F9F2F3;
  /* box-shadow: 12px 12px 28px rgba(0, 0, 0, 0.2); */
  border-radius: 20px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  top: -5rem;
  text-align-last: center;
  width: 100%;
  max-width: 75vw;
  text-align: center;
}

@media screen and (min-width: 1440px){
  .clock{
    max-width: 800px;
  }
}

@media screen and (max-width: 966px) {
  .clock {
    max-width: 90vw;
    overflow: auto;
    margin-top: 20px;
  }

  .clockMain {
    /* max-width: 100vw; */
    width: fit-content;
    block-size: fit-content;  
    /* font-size: 1em; */
    /* overflow: hidden; */
  }

  .countdown {
    gap: 0.2rem;
  }

  html, body { /*prevent mobile scrolling horizontally*/
    max-width: 100%;
    overflow-x: hidden;
  }
    
}

/* .hideMilliseconds {
  display: none !important;
} */

.countdown {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Not currently using the temp and c02 scripts */

/* .gTemp {
  display: flex;
  flex-direction: column;
} */

/* .ceeOhTwo {
  display: flex;
  flex-direction: column;
} */

.clockHeader {
  color: #26282A;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 20px; 
}

.clockText {
  color: black;
}

.clockMain {
  /* display: none; */
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}

.clockMain > span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

.number {
  font-family: 'Roboto', sans-serif; 
  font-weight: 900;
  font-size: 2rem;
  width: 25px; /* prevents ms stuttering */
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: #26282A;
  line-height: 35.8px;
  padding-bottom: 5px;
}

/* prevents millisecond stuttering */
/* .milliseconds{
  width:40px; 
} */

.section {
  letter-spacing: 0.01rem;
  color: #26282A;
  font-size: 1rem;
  color: #26282A;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}

