.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  width: 20vw;
  height: 40vh;
  padding: 5rem;
  margin: 1rem 0;
  background-color: rgb(249, 242, 243);
  /* background-image: url("~@site/static/img/design/windmill-hero.jpeg");
  background-size: cover;
  background-repeat: no-repeat; */
}

.cardText > h1 {
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Lato', sans-serif;
  letter-spacing: .2px;
  font-size: 1.5rem;
  color: #26282A;
}

.cardDescription {
  display: none;
}

.cardContainer:hover {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2); 
}

.cardContainer:hover .cardDescription{
  display: block;
  overflow: auto;
  font-size: 1rem;
}

.cardContainer:hover .cardText > h1{
  display: none;
}

/* .cardImg {
  width: 100%;
  height: auto;
  border-radius: 10px;
} */

/* overwrites default button styling */

/* .cardContainer:hover {
  transition: ease-in-out 0.25s;
  color: var(--ifm-color-secondary) !important;
  background: white !important;
  border: 2px solid var(--ifm-color-secondary) !important;
  text-decoration: none;
} */

@media screen and (max-width: 966px) {
  .cardContainer {
    margin: 2rem 0;
    width: 40vw;
    height: 30vh;
    padding: 10rem;
  }

  /* Applies to the second .cardContainer div inside the main section
  This selector is more specific, so it overrides the .cardContainer one
  main .cardContainer:nth-child(2) { 
    flex-direction: row-reverse;
  }
  .cardImg{
    width: 42%;
    height: 100%;
  } */
}