/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainBody {
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  padding-bottom: 5rem;
  position: relative;
  background: #FFF;
}

.missionContainer {
  margin: 1rem 10rem;
  margin-bottom: 0;
}

.missionIcon {
  margin: 5rem 1rem;
}

.infoDiv {
  position: relative;
  bottom: 20rem;
  left: 10rem;
  z-index: 10;
  margin-left: 10rem;
}

.infoDiv > h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
}

.infoDiv > p {
  font-family: 'Lato', sans-serif;
  position: relative;
  text-align: justify;
  left: 3rem;
  width: 60%;
}

.secondaryButton {
  font-family: 'Lato', sans-serif;
  position: relative;
  text-align: justify;
  left: 3rem;
  width: 60%;
}

.infoDiv > p > span {
  font-weight: bold;
}

.homecardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
}

@media screen and (max-width: 966px) {
  .mainBody {
    padding-top: 9rem;
  }

  .homecardContainer {
    flex-direction: column;
  }
}