/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainBody {
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  padding-bottom: 5rem;
  position: relative;
  background: #FFF;
}

.homecardContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
}

@media screen and (max-width: 966px) {
  .mainBody {
    padding-top: 9rem;
  }
}
