.admonition {
  margin-bottom: 1em;
}

.admonitionHeading {
  font: var(--ifm-heading-font-weight) var(--ifm-h5-font-size) /
    var(--ifm-heading-line-height) var(--ifm-heading-font-family);
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.admonitionHeading code {
  text-transform: none;
}

.admonitionIcon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.4em;
}

.admonitionIcon svg {
  display: inline-block;
  height: 1.6em;
  width: 1.6em;
  fill: var(--ifm-alert-foreground-color);
}

.admonitionContent > :last-child {
  margin-bottom: 0;
}

.question {
  border: 1px solid red;
  border-left-width: 5px;
  background-color: #c3f8ec;
  /* color: #ff9800; */
  padding: 10px;
  margin-bottom: 20px;
}
.questionTitle {
  color: red;
  font-size: 20px;
  font-weight: bold;
}