@media (max-width: 959px) {
    /* Hide the table of contents */
    .md-nav__list {
      display: none;
    }
    
    /* Show the hamburger menu */
    .md-header__button[for="__toc"] {
      display: block;
    }
}

@media (min-width: 960px) {
    /* Hide the hamburger menu on larger screens */
    .md-header__button[for="__toc"] {
      display: none;
    }
    
    /* Show the table of contents */
    .md-nav__list {
      display: block;
    }
}

.md-drawer {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    overflow-y: auto;
    background-color: white;
    transform: translateX(100%); /* starts off the screen to the right */
    transition: transform 0.3s ease-in-out;
    z-index: 9999; /* ensure the drawer appears above other content */
}

.md-drawer--open {
    transform: translateX(0);
}

