.heroBanner {
  background-image: url("~@site/static/img/design/windmill-hero.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;

  height: 75vh;
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
}

/* Overlay color with 50% opacity */
/* .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.1); 
} */

.headerContainer {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  align-items: flex-start;
}

.headerBackground {
  background-color: #3a843c;
}

.headerStatement {
  font-family: Lato;
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.77);
  z-index: 10;
  line-height: 105%;
  align-self: center;
}

.headerSubtitle {
  font-family: Lato;
  font-size: 4.5rem;
  font-weight: 800;
  text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.77);
  z-index: 10;
  line-height: 105%;
  align-self: center;

  margin-bottom: 40px;
}

.cthLink {
  font-family: Lato;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #FD6F02;
  color: #2A2C2D !important;
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 50px;
  width: 9.5rem;
  z-index: 10;
  border-radius: 30px;
  align-self: center;
  /* box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); */
}

.cthLink:hover {
  transition: ease-in-out 0.25s;
  color: #FD6F02 !important;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #FD6F02;
  text-decoration: none;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem 0;
  }
  .headerSubtitle {
    font-size: 10vmin;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .headerStatement {
    font-size: 6vmin;
    max-width: 100%;
  }
  .cthLink{
    width: 12.5rem;
    margin-bottom: 1.5rem;
  }
}

a.menu__link {
  padding: 10px !important;
}

